<h2>🐍 Joker&lt;Snake&gt;</h2>
<p>🎮 Добро пожаловать в игру Joker&lt;Snake&gt;!</p>
<p>🎯 Если ты знаешь Java, то ты победишь!</p>
<p>🏆 Лучшие игроки получат призы!</p>
<div class="example-container">
  <mat-form-field appearance="outline">
    <mat-label>Как тебя зовут?</mat-label>
    <input matInput placeholder="Твоё имя">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Мобильный телефон</mat-label>
    <input matInput placeholder="Введи номер телефона в международном формате.">
    <mat-hint>При выигрыше мы тебе пришлём sms-уведомление для получения приза!</mat-hint>
  </mat-form-field>
  <br><br>
  <button style="height: 3em;" routerLink="/game">Играть</button>
</div>

