<mat-dialog-content>
  <h3>Привет, {{(data.player|async)?.name}}!</h3>
  <p>Управляй перемещением змеи <strong style="color: red;">клавишами-стрелками</strong> (или <strong
    style="color: red;">WASD</strong>) и ешь артефакты,
    разбросанные по игровому полю.</p>
  <p>Но не все так просто! Змея должна <strong style="color: red">есть только те артефакты, которые относятся к теме
    игры</strong>, каждые 20 секунд тема игры меняется.</p>
  <p>Справа от игрового поля ты увидишь легенду, она подскажет какая тема сейчас и какие артефакты на поле.</p>
  <p>За правильный артефакт ты получаешь 1 балл, за не правильный -1 балл. Если съешь себя сам -3 балла и -1 жизнь.</p>
  <p>Времени у тебя <strong
    style="color: red;">140 секунд</strong> и всего <strong
    style="color: red;">3 жизни</strong>!</p>
  <p>Скорость перемещения змеи увеличивается по мере прохождения. Также можешь нажать на <strong style="color: red;">пробел
    для ускорения</strong>.</p>
  <h3>Удачи!</h3>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button style="min-height: 2em;" [mat-dialog-close]="true" cdkFocusInitial> Поехали!</button>
</mat-dialog-actions>
