<mat-dialog-content>
  <h3>Привет, {{(data.player|async)?.name}}!</h3>
  <p>Управляй перемещением змеи клавишами-стрелками и ешь артефакты, разбросанные по игровому полю.</p>
  <p>Но не все так просто! Змея должна есть только те артефакты, которые относятся к теме игры, каждые 20 секунд тема
    игры меняется.</p>
  <p>Справа от игрового поля ты увидишь легенду, она подскажет какая тема сейчас и какие артефакты на поле.</p>
  <p>За правильный артефакт ты получаешь 1 балл, за не правильный -1 балл.<br>Если съешь себя сам -3 балла и -1 жизнь.</p>
  <p>Времени у тебя 140 секунд и всего 3 жизни!</p>
  <p>Скорость перемещения змеи увеличивается по мере прохождения. Также можешь нажать на пробел для ускорения.</p>
  <h3 align="center">Удачи!</h3>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button style="min-height: 2em;" [mat-dialog-close]="true" cdkFocusInitial> Поехали!</button>
</mat-dialog-actions>
