<div class="game">
  <div id="left-sidebar" *ngIf="p!==null">
    <div class="game-info">
      <button routerLink="registration">Завершить игру</button>
      <h4>Игрок: {{(player|async)?.name}}</h4>
      <h4>Время:
        <app-timer [seconds]="roundTime" (onTimeout)="stopGame()"></app-timer>
      </h4>
      <h4>Очки: {{score|number}}</h4>
      <h4>Количество жизней: {{lives}}</h4>
    </div>
    <div id="actions">
      <h4>Последние действия</h4>
      <div [style.margin]="'10px'" *ngFor="let action of actions"> {{action.index}}. {{action.message}} <b
        *ngIf="action.points" [style.color]="action.color"> {{action.points}}</b>
      </div>
    </div>
  </div>
  <div id="canvas"></div>
  <div id="right-sidebar" *ngIf="p!==null">
    <h4>Тема: {{topic}}</h4>
    <div id="artifact-legend">
      <h4>Артефакты</h4>
      <ul>
        <li>ArrayList</li>
        <li>Garbage collector</li>
      </ul>
    </div>
  </div>
</div>
