.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h4 {
  padding: 0;
  margin: 10px;
}

#left-sidebar {
  min-width: 300px;
}

#right-sidebar {
  min-width: 300px;
}
