.game {
  display: flex;
  justify-content: center;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.lastAction {
  margin: 10px;
  overflow: hidden;
  white-space: pre;
}

h4 {
  padding: 0;
  margin: 10px;
}

#canvas {
  margin-top: 20px;
}

#left-sidebar {
  margin: 15px;
  overflow: hidden;
  white-space: pre;
  width: 20%;
}

#right-sidebar {
  margin: 15px;
  overflow: hidden;
  white-space: pre;
  width: 20%;
}
